*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    color: hsl(228, 45%, 44%); 
}

.main{
    background-image: linear-gradient(hsl(252, 100%, 67%) , hsl(241, 81%, 54%));
    padding: 40px;
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 30px;    
    border-bottom-right-radius: 30px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
}

.main p{
    margin-top: 10px;
}

.percent{
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    padding: 20px;
    border-radius: 50%;
    padding-left: 40px;
    padding-right: 40px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.tab{
    margin-top: 20px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border-radius: 10px;

}

.reaction{
    background-color: hsl(0, 100%, 97%);
    color: hsl(0, 100%, 67%);
}

.memory{
    background-color: hsl(39, 100%, 97%);
    color: hsl(39, 100%, 56%);
}

.verbal{
    background-color: hsl(166, 100%, 97%);
    color: hsl(166, 100%, 37%);
}

.visual{
    background-color: hsl(234, 85%, 97%);
    color: hsl(234, 85%, 45%);
}

button{
    padding: 20px;
    margin-top: 20px;
    border-radius: 30px;
    background-color: hsl(224, 30%, 27%);
    color: white;
    border: none;
}

button:hover {
    background-image: linear-gradient(hsl(252, 100%, 67%) , hsl(241, 81%, 54%));
    
}

.logo{
    display: flex;
    flex-direction: row;
}

img{
    margin-right: 10px;
}

.result{
    font-weight: 800;
    font-size: 4rem;
}


@media (min-width:576px) {


    .card{
        max-width: 800px;
        display: flex;
        flex-direction: row;
        padding: auto;
        margin: 100px auto;
        border-radius: 20px;
        overflow: hidden;
        background-color: hsl(0, 0%, 100%);
        box-shadow: 2px 2px 2px hsl(221, 100%, 96%);
    }

    .main{
        flex-basis: 45%;
        border-radius: 20px;
    }

    .content{
        flex-basis: 55%;
    }

    .actualscore{
        color: hsl(224, 30%, 27%);
        font-weight: 700;
    }

    .per100{
        color: hsl(224, 30%, 27%);
        font-weight: 500;
        opacity: 0.5;
    }

}
